header {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 15px;
 padding: 15px;
 border-radius: 5px;
 box-shadow: 0px 0px 7px rgb(206, 206, 206);
}

header h1 {
 font-family: 'Prata', serif;
 color: #FFFFFF;
 opacity: 0.9;
 font-size: 70px;
}

body {
 background: rgb(34,193,195);
 background: linear-gradient(0deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 100%);
}

section {
 display: flex;
 width: 100%;
 height: 1500px;
 flex-direction: row;
 margin-left: 10px;
}

.search-field {
 display: flex;
 flex-direction: column;
 height: 60%;
 width: 20%;
 background-color: white;
 opacity: 0.8;
 margin: 20px;
 border-radius: 5px;
 align-items: center;
 box-shadow: 0px 0px 7px rgb(206, 206, 206);
}

.search-bar {
 padding: 20px;
 font-family: 'Roboto Condensed', sans-serif;
}

input,
.btn {
 border-radius: 5px;
 border: solid #FFBF69;
 border-style: outset;
 height: 30px;
 color: black; 
}

.btn:hover {
 background-color: #FFBF69;
 border: #FFBF69;
}

.city-list {
 font-family: 'Prata', serif;
 list-style: none;
 padding: 20px;
 display: flex;
 flex-direction: column;
}

button.city {
 margin: 5px;
}

button.city:hover {
 transition: all .2s ease-in-out;
 transform: scale(1.2);
}

.weather-display {
 display: flex;
 flex-direction: column;
 height: 70%;
 width: 65%;
}

.weather-info {
 display: flex;
 flex-direction: column;
 height: 30%;
 margin: 20px;
 background-color: white;
 opacity: 0.8;
 border-radius: 5px;
 box-shadow: 0px 0px 7px rgb(206, 206, 206);
}

.weather {
 padding: 10px;
 font-family: 'Roboto Condensed', sans-serif;
}

.favorable span {
 background-color: #70be8e;
}

.moderate span{
 background-color: #fdbb2d;
}

.severe span{
 background-color: #fd1d1d;
}

.weather-imgs {
 display: flex;
 flex-direction: column;
 height: 30%;
 margin: 20px;
 background-color: white;
 opacity: 0.8;
 border-radius: 5px;
 box-shadow: 0px 0px 7px rgb(206, 206, 206);
 font-family: 'Roboto Condensed', sans-serif;
 padding: 10px;
}

.weather-imgs-content {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 height: 60%;
}

.weatherslot {
 background: rgb(34,193,195);
 border-radius: 5px;
 box-shadow: 0px 0px 5px rgb(206, 206, 206);
 font-family: 'Prata', serif;
 padding: 20px;
}

.weatherslot:hover{
 transition: all .2s ease-in-out;
 transform: scale(1.1);
}

